@page
@model AspnetCoreFull.Pages.Livestock.IndexModel

@section PageScripts {
<script src="~/js/ui-cards-analytics.dist.js"></script>
}

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6 mb-4">
    <div class="card">
      <div class="card-body pb-2">
        <span class="d-block fw-semibold mb-2">Profit</span>
        <h3 class="card-title mb-0">624k</h3>
        <div id="profitChart"></div>
      </div>
    </div>
  </div>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
      <th>
        @Html.DisplayNameFor(model => model.User[0].Id)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.User[0].Name)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.User[0].Surname)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.User[0].Password)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.User[0].DateCreated)
      </th>
      <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model.User) {
        <tr>
          <td>
            @Html.DisplayFor(modelItem => item.Id)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.Name)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.Surname)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.Password)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
          </td>
          <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
