@page
@model AspnetCoreFull.Pages.Livestock.Animals.Medical.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AnimalMedicalHistory</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnimalMedicalHistory.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnimalMedicalHistory.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnimalMedicalHistory.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnimalMedicalHistory.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnimalMedicalHistory.AnimalId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnimalMedicalHistory.AnimalId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnimalMedicalHistory.AnimalAgriSectorId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnimalMedicalHistory.AnimalAgriSectorId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnimalMedicalHistory.AnimalAnimalTypeId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnimalMedicalHistory.AnimalAnimalTypeId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnimalMedicalHistory.AnimalMedicalCondtionType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnimalMedicalHistory.AnimalMedicalCondtionType.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.AnimalMedicalHistory?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
